body{
    font-family:'Courier New', monospace;
}
.first-row{
    display: flex;
    justify-content: center;
}
.heading1{
    display: flex;
    justify-content: center;
}
.heading2{
    display: flex;
    justify-content: center;
}
.small{
    max-width: 40%;
}
.int-summ{
    max-width: 50%;
}

img{
    vertical-align:middle;
}
.personas{
    display: flex;
    justify-content: center;
}
.interview{
    display:flex;
    justify-content: center;

}